<div class="about-section">
    <h1>About Us Page</h1>
    <p>BookFinder.com is a one-stop ecommerce search engine that searches over 150 million books for sale—new, used, rare, out-of-print, and textbooks. We save you time and money by searching every major catalog online, and letting you know which booksellers are offering the best prices and selection. When you find a book you like, you can buy it directly from the original seller; we never charge a markup..</p>
    <p>
        Our searchable inventory
        
        150+ million books for sale
        new, used, rare, out-of-print, textbooks
        books from booksellers in 50+ countries
        books written in English, French, German, Italian, and Dutch</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row d-flex justify-content-center">
    <div class="column">
      <div class="card">
        <img src="assets/sudarshan.jpeg" alt="Sudarshan" style="width:100%">
        <div class="container">
          <h2>Sudarshan Bhambare</h2>
          <p class="title">Designer</p>
          <p>Roll no-200240520100.</p>
          <p>sudarshan.bhamare@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    
  
    <div class="column">
      <div class="card">
        <img src="assets/tejas4.jpeg" alt="Tejas" style="width:100%">
        <div class="container">
          <h2>Tejas Kondekar</h2>
          <p class="title">Designer</p>
          <p>Roll no-200240520106</p>
          <p>tejaskondekar1008@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
