

<div style="display: flex; justify-content:space-between;align-items: center; height: 12vh; width: 100%; background: rgb(12, 6, 2);" class="sticky-top">

    <div style="color: blanchedalmond; margin-left: 25px;font-family: cursive;">
        <h4>Book Finder</h4>
    </div>

    <div>
        <input type="button" class="my-link" Value="About-us" routerLink='about'>
        <input type="button" class="my-link" Value="Login" routerLink='login'>
       
       
       
       
    </div>
</div>

<!-- <div style="height: 100vh;width: 100%;background:cadetblue; ">
        <div style=" height: 100vh;width: 100%; display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;">
        <img src="assets/images/project.jpg" style=" height: 100%;width: 100%;">
</div>

</div> -->



<router-outlet></router-outlet>